{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "editor.codeActionsOnSave": {
    "source.organizeImports": true,
    "source.fixAll.eslint": true,
    "source.fixAll.stylelint": true
  },
  "html.format.enable": false,
  "javascript.format.enable": false,
  "json.format.enable": false,
  "css.validate": false,
  "scss.validate": false,
  "[vue]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
}
